= simple_form_for repository do |f|
  = f.input :github_id, collection: @github_repositories, label_method: :name, value_method: :github_id, include_blank: false
  = f.button :submit, class: "btn-primary"
